h5.card-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.card-body {
    background-color: #fff0ee;
    padding: 1rem 1.5rem; 
}

button.btn-primary {
    background-color: #b10849;
    border: #b10849;
}